@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #f5f3f0;
}

.App {
  display: flex;
  width: 100%;
  height: 100vh;
}


.rightside {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header {
  height: 50px;
  font-size: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 95%;
}

.top-bot {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 10px;
  text-align: center;
}

.centerleft,
.centerright {
  box-sizing: border-box;
  border-radius: 22px;
  margin: 7px;
  background-color: white;
}

.leftside,
.rightside,
.centerleft,
.centerright {
  box-sizing: border-box;
}

.leftside {
  width: 62px;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.icon-button-top,
.icon-button-bot {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  margin: 7px auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}

.icon-button-bot {
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.icon-button-top {
  font-size: 20px;
  color: rgb(250, 184, 1);
}



.empty-space {
  flex: 1;
}

hr {
  width: 40%;
  align-self: center;
}

img {
  width: 44px;
  height: 40px;
}

.centerleft {
  flex: 2;
  margin-left: 6%;
 

}

.centerright {
  flex: 4;
  margin-right: 9%;
}

.cl-pp img {
  width: 200px;
  height: 200px;
  padding-top: 5%;
}

.left-bot {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10%;
}

.left-bot > div {
  margin-bottom: 10px;
}



.left-bot > hr {
  width: 80%;
  margin: 15px 0px;
  align-self: flex-start;
}

.name-input {
  padding-bottom: 3%;
  text-align: center;
}

.about,
.location,
.skills,
.tools,
.link {
  font-weight: 500;
  font-size: 14px;
  
}

.cr-heading {
  font-size: 60px;
  padding: 4%;
  text-align: left;
}

.head-container {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 4%;
  gap: 8%;
  font-size: 13px;
  
}

.head-container > div.active {
  text-decoration: underline;
  text-decoration-color: rgb(250, 184, 1);
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  
}

.add-tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  margin: 4%;
  background-color: rgba(255, 192, 145, 0.1);
  height: 120px;
  padding: 0 20px;
}

.add-tab button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f6fcf6;
  color: rgb(3, 3, 3);
  font-size: 20px;
  margin-right: 7%;
}

.add-tab > div,.info-one, .info-two {
  font-size: 20px;
}

.add-tab > div:first-child {
  font-size: 25px;
  font-weight: bold;
}

.title {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}

.desc, .date{
  text-align: left;
  font-size: 14px;
  color: rgb(108, 107, 106);
}

.head-container > div {
  cursor: pointer;
}

.email-input{
  font-size: medium;
  padding-bottom: 3%;
  text-align: center;
}

.name-input,
.email-input,
.about-input,
.location-input,
.skills-input,
.tools-input,
.link-input {
  border: none;
  font-size: 16px;
  width: 300px;
}

.info-one  {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 20px;
  border: rgb(217, 222, 230) solid 1px;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 1%;
  background-color: rgb(255, 255, 255);
  height: 220px;
  padding: 20px 35px;
  box-sizing: border-box;
  
}

.info-btn  {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 70%;
  margin-top: 80px;
  
 
}

.info-btn button {

  width: 125px;
  height: 35px;
  border: solid rgb(192, 182, 182) 1px;
  background-color: white;
  border-radius: 22px; /* Adjust the value as needed */
  color: rgb(108, 107, 106);
  font-size: 11px;
}

.floating-btn {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: #fcfcfc;
  color: rgb(250, 184, 1);
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  box-shadow: 0 2px 4px rgba(82, 78, 78, 1); /* Add shadow */
}



